img,
video {
  object-fit: cover;
  object-position: center;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header__name {
  color: var(--secondary-color-dark);
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
}
.photograph-header__city {
  color: var(--primary-color-dark);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 10px;
}
.photograph-header__tagline {
  color: var(--secondary-neutral-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 20px;
}
.photograph-header__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  cursor: pointer;
}
#contact_modal {
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.modal {
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background-color: var(--primary-color-light);
  /* width: 50%; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin-top: -20px;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 10px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  padding: 5px;
}
textarea {
  height: 170px;
}
/* Media section */
.media-section {
  display: flex;
  gap: 30px 95px;
  margin: 60px 0;
  width: 100vw;
  padding: 0 100px;
  overflow: hidden;
  flex-wrap: wrap;
}

.media-card {
  width: 350px;
}
.media-card__img {
  position: relative;
}

.media-card__img i {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  opacity: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.media-card:hover .media-card__img i {
  opacity: 75%;
  pointer-events: none;
}

.media-card__img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.media-card__img > img,
.media-card__img > video {
  width: 350px;
  height: 300px;
  transition: 0.3s ease-in-out;
}

.media-card__img:hover > img,
.media-card__img:hover > video {
  transform: scale(1.05);
}

.media-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--primary-color-dark);
}
.media-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.media-card__likes {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.media-card__likes i {
  margin-left: 5px;
}
/* info-bar section */
.info-bar {
  position: fixed;
  width: 376px;
  bottom: 0;
  right: 5%;
  padding: 20px 35px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.info-bar__likes {
  margin-right: auto;
}
.info-bar__likes i {
  margin-left: 5px;
}