/* header-section */
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photograph-header__name {
  color: var(--secondary-color-dark);
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
}

.photograph-header__city {
  color: var(--primary-color-dark);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 10px;
}

.photograph-header__tagline {
  color: var(--secondary-neutral-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 20px;
}

.photograph-header__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/* sorting section */
.sorting {
  margin: 20px 100px 0;
  display: flex;
  align-items: center;
}

.sorting__title {
  margin-right: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

/* modal section */
.contact_button {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: fit-content;
  transform: translate(-50%, -50%) scale(80%);
  z-index: 20;
}

.modal {
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background-color: var(--primary-color-light);
  /* width: 50%; */
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin-top: -20px;
}

#contact-form .contact_button {
  font-size: calc(18px * 1.2);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  padding: 5px;
}

textarea {
  height: 170px;
}

/* Media section */
.media-section {
  display: flex;
  flex-grow: 0;
  gap: 30px 6%;
  justify-content: space-between;
  margin: 50px 0;
  width: 100vw;
  padding: 0 100px;
  overflow: hidden;
  flex-wrap: wrap;
}

.media-section::after {
  content: '';
  flex: auto;
}

.media-card {
  width: 350px;
}
.media-card__img {
  position: relative;
}

.media-card__img i {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  opacity: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.media-card__img:hover i {
  opacity: 75%;
  pointer-events: none;
}

.media-card__img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.media-card__img > img,
.media-card__img > video {
  width: 350px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}

.media-card__img:hover > img,
.media-card__img:hover > video {
  transform: scale(1.05);
}

.media-card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--primary-color-dark);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

.media-card__title {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-card__heart-btn {
  color: inherit;
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.media-card__heart-btn:focus-visible {
  border: none;
  background-color: transparent;
  outline: var(--primary-color-dark) solid 2.5px;
}

.media-card__heart-btn:hover,
.media-card__heart-btn:active,
.media-card__heart-btn:focus-visible {
  background-color: transparent;
  color: var(--primary-color-dark);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* info-bar section */
.info-bar {
  position: fixed;
  width: 376px;
  bottom: 0;
  right: 5%;
  padding: 20px 35px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.info-bar__likes {
  margin-right: auto;
}

.info-bar__left i {
  margin-left: 5px;
}

/* lightbox */
.lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.4);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}

.lightbox img:focus-visible {
  border: none;
}

.lightbox > * {
  transform: translateY(-2%);
}

.lightbox__arrow {
  margin: 35px;
  cursor: pointer;
}

.lightbox__img {
  /* width: 60%; */
  height: 80%;
  overflow: hidden;
  border-radius: 5px;
  filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

.lightbox__img img,
.lightbox__img video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.lightbox__left-controls,
.lightbox__right-controls {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.lightbox__title {
  font-size: 24px;
  position: absolute;
  bottom: -40px;
  right: -275%;
  z-index: 999;
  color: var(--primary-color-dark);
}

.lightbox__close {
  margin: 35px;
  position: absolute;
  top: -5%;
  cursor: pointer;
}

/* Custom select */
/* The container must be positioned relative: */

.combo *,
.combo *::before,
.combo *::after {
  box-sizing: border-box;
}

.combo {
  display: block;
  position: relative;
  width: 170px;
}

/* down arrow */
.combo-input::after {
  position: absolute;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 18px;
  font-weight: 900;
  color: inherit;
  top: 27px;
  right: 10px;
  pointer-events: none;
}

.combo-input {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  height: 70px;
  border: none;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  cursor: pointer;
}

.open .combo-input {
  border-radius: 5px 5px 0 0;
}

.combo-input:hover,
.combo-input:focus-visible {
  background-color: var(--primary-color-light);
  color: black;
  border: none;
  outline: none;
}

.combo-menu {
  background-color: var(--primary-color-dark);
  color: white;
  border-radius: 5px 5px 5px 5px;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: calc(100% - 70px);
  width: 100%;
  z-index: 100;
  font-size: 18px;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.open .combo-menu {
  display: block;
}

.combo-option {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.combo-option:not(.combo-option:first-child)::after {
  content: '';
  width: 80%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
}

.combo-option:hover {
  background-color: var(--primary-color-light);
  color: black;
}

.combo-option.option-current {
  background-color: var(--primary-color-light);
  color: black;
}

.combo-option[aria-selected='true'] {
  padding-right: 30px;
  position: relative;
}

/* up arrow */
.combo-option:first-child::after {
  position: absolute;
  content: '\f106';
  font-family: 'Font Awesome 5 Free';
  font-size: 18px;
  font-weight: 900;
  color: inherit;
  top: 22px;
  right: 10px;
  pointer-events: none;
}
